.black-background {
	background-color: #282828;
	color: #00FF66;
}

.lighter-background {
	background-color: #206020;
	color: #00FF66;
}

.w3-button:hover {
	color:#00FF66!important;
	background-color:#206020!important;
}