@media screen and (max-width: 425px) {
    #page_container {
      width: 100%;
    }

    div.for-table {
        width: 100%;
    }

    .flex-row {
        flex-direction: column;
    }

}

@media screen and (min-width: 426px) and (max-width: 768px) {
    #page_container {
      width: 80%;
    }

    div.for-table {
        width: 70%;
    }
    
    .in-flex-card {
        flex: 33%;
        max-width: 33%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #page_container {
      width: 80%;
    }

    div.for-table {
        width: 70%;
    }
    
    .in-flex-card {
        flex: 33%;
        max-width: 33%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #page_container {
      width: 70%;
    }

    div.for-table {
        width: 50%;
    }

    .in-flex-card {
        flex: 20%;
    }
}

@media screen and (min-width: 1441px) {
    #page_container {
      width: 50%;
    }
    
    div.for-table {
        width: 30%;
    }

    .in-flex-card {
        flex: 20%;
    }
}

div.in-flex-card > img {
    width: 40%;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.center {
  margin: auto;
}

.article {
    margin-top: 50px;
}

.article-header > h1 {
    white-space: normal;
    margin-right: 40px;
    margin-bottom: 2px! important;
}

div.undertitle {
    font-size: 14px! important;
    margin-left: 5%;
}

.article-header {
    margin-bottom: 10px;
}
