/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #206020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00FF66;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00FF66;
}