html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'comfortaa';
}

.retro-computer-font {
    font-family: 'green-screen', monospace;
}

@font-face {
    font-family: 'green-screen';
    src: url('../font/green-screen.ttf');
}

@font-face {
    font-family: 'comfortaa';
    src: url('../font/Comfortaa-VariableFont_wght.ttf');
}

div.article > h1 {
    margin-bottom: 0;
}

@media screen and (max-width: 425px) {
    #loading-screen {
        font-size: 9px;
    }

    div.flip-card-back > p.small-card-back-description {
        font-size: 12px;
    }
}


@media screen and (min-width: 426px) and (max-width: 768px) {
    #loading-screen {
        font-size: 11px;
    }

    div.flip-card-back > p.small-card-back-description {
        font-size: 11px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    div.flip-card-back > p.small-card-back-description {
        font-size: 7px;
    }
}


@media screen and (min-width: 1025px) and (max-width: 1440px) {
    div.flip-card-back > p.small-card-back-description {
        font-size: 10px;
    }
}

@media screen and (min-width: 1441px) {
    div.flip-card-back > p.small-card-back-description {
        font-size: 10px;
    }
}

h1.prompt::before {
    content: ">";
    color: #206020;
}

a {
    word-break: break-all;
}

td > div {
    display: flex;
    align-items: center;
    justify-content: center;
}


