html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'comfortaa';
}

.retro-computer-font {
    font-family: 'green-screen', monospace;
}

@font-face {
    font-family: 'green-screen';
    src: url('../font/green-screen.ttf');
}

@font-face {
    font-family: 'comfortaa';
    src: url('../font/Comfortaa-VariableFont_wght.ttf');
}

div.article > h1 {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    #loading-screen {
        font-size: 11px;
    }
}

h1.prompt::before {
    content: ">";
}

a {
    word-break: break-all;
}